<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <form th:action="@{/admin/new}">
        <input th:type="submit" value="Add new user"/>
    </form>
    <br>
    <hr>
    <th:block th:each="user : ${allUsers}">
        <h2 th:label="name">Name: </h2>
        <h1 th:text="${user.getName()}" id="name"></h1>
        <h2 th:label="lastname">Lastname: </h2>
        <h1 th:text="${user.getLastName()}" id="lastname"></h1>
        <h2 th:label="number">Number: </h2>
        <h1 th:text="${user.getNumber()}" id="number"></h1>
        <h2 th:label="username">Username: </h2>
        <h1 th:text="${user.getUsername()}" id="username"></h1>
        <h2 th:label="password">Password: </h2>
        <h1 th:text="${user.getPassword()}" id="password"></h1>
        <h2 th:label="roles">Roles: </h2>
        <h1 th:text="${user.getRoles()}" id="roles"></h1>>

        <a type="button" th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
        <a type="button" th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
        <br>
        <hr>
    </th:block>
    <p><a type="button" th:href="@{/logout}">Logout</a></p>
</body>
</html>